.visible {
  visibility: visible
}

.absolute {
  position: absolute
}

.right-2 {
  right: 0.5rem
}

.top-3 {
  top: 0.75rem
}

.m-4 {
  margin: 1rem
}

.m-5 {
  margin: 1.25rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-8 {
  margin-bottom: 2rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-16 {
  margin-top: 4rem
}

.mt-20 {
  margin-top: 5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-40 {
  margin-top: 10rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-40 {
  height: 10rem
}

.h-48 {
  height: 12rem
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse))
}

.overflow-hidden {
  overflow: hidden
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-b-\[50px\] {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem
}

.border {
  border-width: 1px
}

.bg-amber-400\/80 {
  background-color: rgb(251 191 36 / 0.8)
}

.bg-violet-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(167 139 250 / var(--tw-bg-opacity))
}

.bg-violet-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(139 92 246 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.p-3\.5 {
  padding: 0.875rem
}

.p-5 {
  padding: 1.25rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.pl-20 {
  padding-left: 5rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pt-12 {
  padding-top: 3rem
}

.pt-14 {
  padding-top: 3.5rem
}

.pt-20 {
  padding-top: 5rem
}

.pt-5 {
  padding-top: 1.25rem
}

.text-center {
  text-align: center
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.tracking-tight {
  letter-spacing: -0.025em
}

.tracking-widest {
  letter-spacing: 0.1em
}

.text-\[\#7c65c2\] {
  --tw-text-opacity: 1;
  color: rgb(124 101 194 / var(--tw-text-opacity))
}

.text-amber-400 {
  --tw-text-opacity: 1;
  color: rgb(251 191 36 / var(--tw-text-opacity))
}

.text-neutral-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 82 / var(--tw-text-opacity))
}

.text-neutral-600\/60 {
  color: rgb(82 82 82 / 0.6)
}

.text-neutral-700 {
  --tw-text-opacity: 1;
  color: rgb(64 64 64 / var(--tw-text-opacity))
}

.text-violet-500 {
  --tw-text-opacity: 1;
  color: rgb(139 92 246 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
